:root {
    --cor-primaria: #228b5a;
    --cor-secundaria: #35bb7c;
    --line-height: 1.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serf;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
}

a:hover {
    color: var(--cor-secundaria);
}

body.dark {
    background-color: #232b31ee;
  }
  body.dark .bar {
    background-color: #fff;
  }
  
  body.dark p {
    color: #fff;
  }
  
  body.dark h3 {
    color: #fff;
  }
  
  body.dark h1 {
    color: #fff;
  }
  
  body.dark nav {
    background-color: #1e272e;
    box-shadow: 2px 3px 2px #111010;
  }
  