.impacto {
    display: flex;
    justify-content: space-between;
    gap: 1.9rem;
    max-width: 1100px;
    margin: 2rem auto -6rem;
    padding-bottom: 8rem;
}
  
.impacto p {
    text-align: justify;
    line-height: var(--line-height);
    padding-top: 2rem;
}
  
.impacto img {
    max-width: 30rem;
    border-top: 40px groove var(--cor-primaria);
    border-bottom: 40px groove var(--cor-primaria);
    border-right: 28px solid var(--cor-secundaria);
    border-left: 28px solid var(--cor-secundaria);
}

.beneficios {
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
.beneficios {
    margin: 2rem auto;
    max-width: 1100px;
}
  
.beneficios img {
    border-radius: 0.6rem;
}

.tecnologia {
    position: relative;
    background: url("/img/blockchain-icon.png") no-repeat center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0;
}
  
.tecnologia h3 {
    font-size: 3em;
    margin-bottom: -20px;
}
  
.tecnologia p {
    font-size: 1.5em;
}
  
.tecnologia h3 {
    text-shadow: 2px 1px 2px #333;
}